.KeyboardButton {
    display: block;
    color: #fff;
    font-size: 40px;
    border: none;
    outline: none;
    max-width: 90px;
    max-height: 90px;
    background-color: #112E50;
    cursor: pointer;
}

.KeyboardButton:last-child {
    background-color: #2C9EE4;
}

.KeyboardButton:nth-child(1) {
    color: #2C9EE4;
}

.KeyboardButton:nth-child(2) {
    color: #2C9EE4;
}
.KeyboardButton:nth-child(3) {
    color: #2C9EE4;
}

.KeyboardButton:nth-child(4) {
    color: #2C9EE4;
}

.KeyboardButton:nth-child(8) {
    color: #2C9EE4;
}

.KeyboardButton:nth-child(12) {
    color: #2C9EE4;
}

.KeyboardButton:nth-child(16) {
    color: #2C9EE4;
}

.KeyboardButton:hover {
    background-color: #009999;
    opacity: .5;
    transition: all .2s ease-in;
}

.KeyboardButton:focus {
    opacity: 1;
}