.PanelButton{
    height: 30px;
    margin-left: 8px;
    margin-right: 3px;
    margin-bottom: 1px;
    color: #fff;
    border: 1px solid #091E39;
    background-color: #091E39;
    cursor: pointer;
}

.PanelButton:disabled {
    color: #ccc;
    opacity: .5;
}

.PanelButton:hover {
    outline: none;
    opacity: .5;
    transition: all .2s ease-in;
}

.PanelButton:focus {
    outline: none;
    opacity: 1;
}