.Case {
    display: block;
    height: 55px;
    padding-right: 15px;
    margin-bottom: -4px;
    background-color: #fff;
    text-align: right;
    vertical-align: middle;
    color: #484646;
    cursor: pointer;
}

.Case .Equally {
    color: deepskyblue;
}

.Case:hover {
    background-color: #bfe7f5;
    transition: background-color .2s ease-in-out;
}
